In [1]:
import pandas as pd
import os

In [11]:
review_data = pd.read_csv("C:\\Users\\yukir\\Documents\\Monicas_workspace\\Korea_medicine\\final_reviews.csv", index_col=0)
new_hospital = pd.read_csv("C:\\Users\\yukir\\Documents\\Monicas_workspace\\Korea_medicine\\new_hospital.csv", index_col=0)
new_modoo = pd.read_csv("C:\\Users\\yukir\\Documents\\Monicas_workspace\\Korea_medicine\\new_modoo.csv", index_col=0)
compare_set = pd.read_csv("C:\\Users\\yukir\\Documents\\Monicas_workspace\\Korea_medicine\\compare_set.csv", index_col=0)

In [9]:
review_data.head(3)

   hospital  stars                                            reviews
0  청주나비솔한의원   10.0   병원이 전반적으로 깔끔해서 쾌적했어요대기가 좀 있지만 심하진 않은편이었고 간호사분...
1  청주나비솔한의원    7.5   체인 한의원이라서 망설였는데 시설도 깔끔하고 진료도 친절하게 너무 잘 봐주셨어요 ...
2  청주나비솔한의원   10.0   사고 후유증으로 놀라서 한의원 방문 하였고 침 놔주시고 청심환 처방 해주셨습니다....

In [10]:
new_hospital.head(3)

     hospital  stars                                            reviews  adr
38  미올한의원 안산점    6.3   갑자기 체한 느낌에 머리도 아프고 속이 안좋아서 한의원 찾다 집 앞에 바로 있어서...  new
60  미올한의원 순천점   10.0   교통사고가 난 후 치료를 위해 방문했어요.병원이 엄청 깨끗하고, 조용해요.원무과 ...  new
62     김성남한의원   10.0   동네였는데 한번도 가볼 생각을 못하다가 어깨에 담이 걸려서 움직이는게 불편해서 갔...  new

In [21]:
compare_set.rename(columns={'adr':'adress'}, inplace=True)
compare_set.head()

  hospital adress
0    미올한의원    경기도
1    로담한의원     서울
2    미올한의원   전라남도
3   김성남한의원     인천
4  모래시계한의원     서울

In [13]:
new_modoo.head(3)

,hospital,review_count,link,adr_clean,adress
0,자생한방병원,64,https://www.modoodoc.com/hospital/17186/%EC%9E...,서울,서울강남구논현1동
1,김민석한의원,29,https://www.modoodoc.com/hospital/14208/%EA%B9...,서울,서울마포구대흥동
2,춘원,31,https://www.modoodoc.com/hospital/17222/%EC%B6...,서울,서울종로구종로1.2.3.4가동

In [15]:
hospital_info = pd.DataFrame({'hospital': new_modoo['hospital'].tolist(), 'adress': new_modoo['adr_clean'].tolist()})
hospital_info.head()

  hospital adress
0   자생한방병원     서울
1   김민석한의원     서울
2       춘원     서울
3   리봄한방병원     서울
4    부야한의원   경상북도

In [23]:
hospital_info = pd.concat([hospital_info, compare_set])
hospital_info.head()

  hospital adress
0   자생한방병원     서울
1   김민석한의원     서울
2       춘원     서울
3   리봄한방병원     서울
4    부야한의원   경상북도

## **ADD ADR**

In [36]:
hospital_name.index('부야한의원')

4

In [25]:
hospital_name = hospital_info.hospital.tolist()
hospital_adr = hospital_info.adress.tolist()

review_hospital = review_data.hospital.tolist()

In [43]:
def adding_adr(x):
    try:
        if x in hospital_name:
            global y
            k = hospital_name.index(x)
            y = hospital_adr[k]

    except:
        print('none')
        y = 'none'
        

    return y

review_data['adress'] = review_data['hospital'].apply(adding_adr)
review_data['adress'].value_counts()

서울      5805
경기      3154
인천       981
대구       665
대전       579
울산       492
경상남도     398
경기도      355
전라북도     353
경상북도     278
충청남도     254
부산       253
광주       212
충청북도     209
강원도      196
전라남도     147
세종        73
제주         9
Name: adress, dtype: int64

In [44]:
review_data.head(3)

   hospital  stars                                            reviews adress
0  청주나비솔한의원   10.0   병원이 전반적으로 깔끔해서 쾌적했어요대기가 좀 있지만 심하진 않은편이었고 간호사분...   충청북도
1  청주나비솔한의원    7.5   체인 한의원이라서 망설였는데 시설도 깔끔하고 진료도 친절하게 너무 잘 봐주셨어요 ...   충청북도
2  청주나비솔한의원   10.0   사고 후유증으로 놀라서 한의원 방문 하였고 침 놔주시고 청심환 처방 해주셨습니다....   충청북도

In [45]:
review_data.hospital.value_counts()

누베베한의원       104
자생한방병원        64
소나무한의원        57
경희한의원         51
지성한의원         43
            ...
조은부부한의원        1
경희기린한의원        1
상동경희부부한의원      1
제세최돈열한의원       1
상화한의원          1
Name: hospital, Length: 3941, dtype: int64

In [58]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
nubebe = review_data[review_data['hospital']=='누베베한의원']
nubebe.to_csv('nubebe.csv')

In [57]:
nubebe.reviews.tolist()[0].split(' ')[-1]

'추천.'

In [59]:
review_data.to_csv('Final_semi.csv')